* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d83133;
    clip-path: circle(120px at center);
    transition: .5s;
}

.card:hover .circle::before {
    background-color: #0065c3;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 72%;
    height: 500px;
}

.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

.card:hover .content {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.card .content h2{
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.card .content p {
    color: #fff;
}

.card .content a{
    padding: 10px 20px;
    background-color: #fff;
    color: #111;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 700;
}

@media (max-width: 991px) {
    .card {
        width: auto;
        max-width: 350px;
        flex-direction: column;
    }

    .card:hover {
        height: 600px;
    }

    .card .content {
        width: 100%;
        left: 0;
        padding: 30px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 320px;
    }
}