@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7db892;
}

body {
    height: 100vh;
    background: #202329; /* fallback for old browsers */
    font-family: "Poppins";
    position: relative;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3586ff;
}

.footer__social,
.footer__menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    list-style: none;
}

.footer__social li,
.footer__menu li {
    margin: 0 20px;
}

.footer__social li a,
.footer__menu li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.2s linear;
    display: inline-block;
}

.footer__menu li a {
    color: rgb(228, 220, 220);
}

.footer__menu li a:hover {
    color: #fff;
}

.footer__social li a {
    font-size: 25px;
}

.footer__social li a:hover {
    transform: translateY(-5px);
    color: rgb(202, 193, 193);
}

footer p {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../image/wave.png");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 999;
    opacity: 0.7;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.2;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
