@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7db892;
}

body {
    height: 100vh;
    background: #252839; /* fallback for old browsers */
    font-family: "Poppins";
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-text {
    position: relative;
    font-size: 14vw;
    color: transparent;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}

.animated-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: text-animation 6s linear infinite;
}

@keyframes text-animation {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}
