* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper .image {
    width: 22%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.wrapper .image:hover img {
    transform: scale(1.2);
}

.wrapper .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}

.gallery {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: 0.4s;
}

.gallery__inner {
    width: 60%;
    margin: auto;
}

.gallery__inner img {
    width: 100%;
}

.gallery i {
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    cursor: pointer;
}

.gallery .close {
    position: fixed;
    top: 20px;
    right: 20px;
}

.gallery__control.next {
    order: 3;
}

.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.hide {
    display: none;
}
