* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7db892;
}

body {
    height: 100vh;
    background: #b2fefa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ed2f7, #b2fefa); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #0ed2f7,
        #b2fefa
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.btn-open-modal {
    padding: 20px 40px;
    background: #fff;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__inner {
    background-color: #fff;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
    animation: openModal 0.3s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.modal__header i {
    cursor: pointer;
}

.modal__body {
    padding: 20px;
}

.modal__body h2 {
    color: var(--primary-color);
}

.modal__footer {
    text-align: right;
    padding: 20px;
}

.modal__footer button {
    padding: 10px 30px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes openModal {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}
