@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f0efe9;
    width: 100vw;
    height: 100vh;
}

.todo-list {
    font-family: "Poppins";
    border-radius: 5px;

    width: 280px;
    height: 435px;
    background: #fff;

    position: relative;
    padding: 32px;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.03);
}

.todo-list__header {
    margin: 14px 0;
    display: flex;
    align-items: center;

    color: #1a4d37;
}

.todo-list__day {
    font-size: 36px;
    margin-right: 6px;
}

.todo-list__month-and-year {
    flex: 1;
    font-size: 10px;

    display: flex;
    flex-direction: column;
}

.todo-list__day-of-weeek {
    font-size: 12px;
}

.todo-list__body {
    margin: 10px 0;
    height: 250px;
    overflow-y: scroll;
}

.todo-list__body::-webkit-scrollbar {
    display: none;
}

.todo-list__list {
    list-style: none;
}

.todo-list__item {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.todo-list__item--check {
    opacity: 0.6;
}

.todo-list__item--check .todo-list__item-text {
    font-style: italic;
}

.todo-list__item--check .todo-list__item-icon {
    color: #34966b;
}

.todo-list__item-icon {
    font-size: 20px;
}

.todo-list__fotter {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translate(-50%, 50%);
}

.todo-list__fotter span {
    background: #50e3a4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    font-size: 40px;
    color: #34966b;
    font-weight: 500;
}
